<div class="about">
    <section id="about" class="py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-50">
                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/5Udy89ttZtJ5cMC9y3o22zzyevg.jpg"
                        alt="About Image" class="img-fluid rounded h-75">
                </div>
                <div class="col-lg-6 d-flex justify-content-center flex-column">
                    <h2 class="mb-4">LeftFlit</h2>
                    <p class="lead mb-4"> is a streaming service that offers a wide variety of TV shows,
                        movies, and documentaries. You can watch as much as you want, whenever you want without
                        a single commercial – all for one low monthly price.</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada
                        aliquam quam, vel porttitor lorem dictum a. Phasellus vitae orci euismod, consequat leo
                        vitae, consequat sem. Vivamus quis imperdiet tortor. Integer a lectus ac enim convallis
                        vehicula.</p>
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
</div>